<?xml version="1.0"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <appSettings>
    <add key="WindowTitle" value="Ngen progress" />
    <add key="AllowCancellation" value="true" />
    <add key="Label1" value="Processing..." />
    <add key="Label2" value="@assemblyName" />
  </appSettings>
</configuration>
